<!DOCTYPE html>
<html>
<head>    
  <title>Mongo IP Whitelister</title>
  <link id="favicon" rel="icon" type="image/x-icon" href="../favicon.ico">
  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div
        class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
        id="modal-success"
>
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">
      <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
        <svg
                class="h-6 w-6 text-green-600"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
        >
          <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
          ></path>
        </svg>
      </div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
      <div class="mt-2 px-7 py-3">
        <p class="text-sm text-gray-500">
          IP <label class="inline font-bold">{{ ip }}</label> has been successfully whitelisted in the <label class="inline font-bold" id="label-env"></label> environment for <label class="inline font-bold">12</label> hours!
        </p>
      </div>
      <div class="items-center px-4 py-3">
        <button
                id="okerr-btn"
                class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div
        class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
        id="modal-error"
>
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">
      <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
        <svg
                class="h-6 w-6 text-green-600"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
        >
          <line x1="2" y1="2" x2="22" y2="22" stroke="red" stroke-width="2" />
          <line x1="22" y1="2" x2="2" y2="22" stroke="red" stroke-width="2" />
        </svg>
      </div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Error!</h3>
      <div class="mt-2 px-7 py-3">
        <p class="text-sm text-gray-500">
          Error: <label  class="inline break-words text-sm text-gray-500" id="err-label"></label>
        </p>
      </div>
      <div class="items-center px-4 py-3">
        <button
                id="ok-btn"
                class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
  <div class="w-full sm:max-w-md p-5 mx-auto">
    <h2 class="mb-12 text-center text-5xl font-extrabold">Mongo IP Whitelister</h2>
    <div class="p-10 bg-gray-200">
      <div class="max-w-md mx-auto">
        <label  class="font-semibold block py-2">Hello {{ name }} </label>
        <img class="center" style="margin:auto;" src={{ google_image }}>
        <p class="text-center">{{ email }} </p>

      </div>
      <div class="max-w-md mx-auto">
        <label  class="font-semibold block py-2">Select environment:</label>

        <select id="environmentSelect" name="environment" x-model="timeMode"  class="focus:outline-none w-full border-none p-2 rounded-md border-r border-gray-300">
          <option value=dev>Dev</option>
          <option value=staging>Staging</option>
          <option value=prod>Prod</option>
        </select>
      </div>

      <div class="mt-6">
        <button id="whitelist-btn"
                class="w-full inline-flex items-center justify-center px-4 py-2 bg-green-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-green-700 active:bg-green-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-green-200 disabled:opacity-25 transition">
          Whitelist IP {{ ip }}
        </button>
      </div>
      <div class="mt-6">
        <button
                class="w-full inline-flex items-center justify-center px-4 py-2 bg-green-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-green-700 active:bg-green-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-green-200 disabled:opacity-25 transition">
          <a href="/logout">Logout</a>
        </button>
      </div>
    </div>
    <script>

$(document).ready(function(){
  let button = document.getElementById("ok-btn");
  let errbutton = document.getElementById("okerr-btn");
  let modal = document.getElementById("modal-success");
  let modalerror = document.getElementById("modal-error");
  button.onclick = function() {
    modal.style.display = "none";
    modalerror.style.display = "none";
  }
  errbutton.onclick = function() {
    modalerror.style.display = "none";
  }
  $("#whitelist-btn").click(function(){
    $('#label-env').text($("#environmentSelect").val()) ;


    $.post("/whitelist",
    {
      environment: $("#environmentSelect").val()
    },
    function(data,status){
      modal.style.display = "block";

    }).fail(function(response) {
      modalerror.style.display = "block";
      $("#err-label").text(response.responseText) ;
      console.log(response);
    });;
  });
});

  </script>

  </div>
</div>
</body>
</html>